<footer class="row">
    <div class="row m0 topFooter">
        <div class="container line2">
            <div class="row">
                <div class="col-sm-3 widget">
                    <div class="row m0">
                        <h4>About Sparkle Diamond</h4>
                        <p>We provide the best Quality of Diamond to you.We are always here to help our lovely customers.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 widget">
                    <div class="row m0">
                        <h4>information</h4>
                        <ul class="nav">
                            <li><a href="/home/Index">Home</a></li>
                            <li><a href="/home/LiveInventory">Inventory</a></li>
                            <li><a href="/home/Aboutus">About Us</a></li>
                            <li><a href="/home/ContactUs">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 widget">
                    <div class="row m0">
                        <h4>top brands</h4>
                        <ul class="nav">
                            <li>Fusce iaculis</li>
                            <li>Nisl dapibus</li>
                            <li>Vulputate sapien</li>
                            <li>Aliquet</li>
                            <li>Risus feugiat</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 widget">
                    <div class="row m0">
                        <h4>subscribe to our latest news</h4>
                        <form action="subscriptionList.php" method="post" role="form">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
                                <input type="email" class="form-control" id="subscribeEmail" name="subscribeEmail" placeholder="EMAIL ADDRESS">
                            </div>
                            <input type="submit" class="form-control" value="Subscribe" id="submit" name="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 copyRight">
        <div class="container">
            <div class="row">
                <div class="fleft">&copy; @DateTime.Now.Year <a href="/home/Index"> Sparkle Diamond</a> All Rights Reserved.</div>
                <ul class="nav nav-pills fright">
                    <li><a href="/home/Index">Home</a></li>
                    <li><a href="/home/Aboutus">about</a></li>
                    @*<li><a href="blog.html">blog</a></li>*@
                    <li><a href="/home/ContactUs">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>