
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<section id="breadcrumbRow" class="row">
    <h2>About us</h2>
</section>
<section id="whatWeDid" class="row contentRowPad">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tab-contents">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="wwd2018">
                        <h3>Who We Are</h3>
                        <p>The Sparkl Diamond had only one mission, to provide the best diamonds, their desire still the same, and so are their diamonds which still sparkle, A sign of trust which Is as strong as a diamond itself.</p>
                        <p>The success is due as much to the integrity of our approach as to the exceptional quality of our diamonds. We just do not aim to succeed for ourselves, but also try to pass on the success and the benefits to our suppliers, customers, employees, and in the community in which we work and live.</p>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 tab_menu">
                <div class="row m0">
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
        <div class="col-md-6 columns">
            <div class="carousel-box animation fadeInLeft">
                <div class="carousel" data-carousel-autoplay="6000" data-carousel-nav="true" data-carousel-pagination="true" data-carousel-single="true" data-carousel-transition="fade">
                    <div class="testimonial-item">
                        <img src="~/ThemeContent/images/About/7.jpg" class="img-responsive" alt="Manufacturing" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 tab-contents">
            <div class="tab-content">
                <h3>Manufacturing</h3>
                <div class="manufacturing">
                    <p>The trust of customers has resulted in an unthinkable demand for our diamonds. This has lead to <b>Sparkle Diamond</b> in making an advanced manufacturing unit in Surat, equipped with state of the art technology, implementing new ideas, helped us grow and expand in this market globally.</p>
                    <p>Every employee contributes to work with all ethics, honesty, sincerity and their hard work, we believe in a team effort. that is why the final diamond which comes out glitters more than a usual diamond.</p>
                    <p style="margin-bottom: 15px !important">The main processes of Manufacturing are,</p>
                </div>
                <div class="animation fadeInUp">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list-default fa-ul">
                                <li><span class="mr-10">1 ]</span>Sorting</li>
                                <li><span class="mr-10">2 ]</span>Planning</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-default fa-ul">
                                <li><span class="mr-10">3 ]</span>Sawing</li>
                                <li><span class="mr-10">4 ]</span>Shaping</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-default fa-ul">
                                <li><span class="mr-10">5 ]</span>Polishing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
        <div class="col-md-6 tab-contents polishing">
            <div class="tab-content">
                <h3>Polishing</h3>
                <div class="polishing">
                    <p>We are India’s leading Diamond manufacturer, importer and exporter of cut and polished diamonds. We have customers round the clock with global presence in more than 22 countries.</p>
                    <p>We have an inventory of more than 2500 diamonds, dealing in a wide range of diamonds from 0.25 cents to 10 carats plus, in round and more than 10 fancy shapes, having certified and non-certified diamonds.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 columns polishing">
            <div class="carousel-box animation fadeInRight">
                <div class="carousel" data-carousel-autoplay="6000" data-carousel-nav="true" data-carousel-pagination="true" data-carousel-single="true" data-carousel-transition="fade">
                    <div class="carousel-item">
                        <img src="~/ThemeContent/images/About/3.jpg" class="img-responsive" alt="Polishing" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="hww" class="row contentRowPad">
    <div class="container">
        @*<h3>Our Vision</h3>*@
        <div class="col-sm-6">
            <h5><span>01.</span> Our Mission</h5>
            <p>To unlock the potential of our diamantaireing skills with sustainable leadership in quality, innovation and technology.</p>
        </div>
        <div class="col-sm-6">
            <h5><span>02.</span> Our Vision</h5>
            <p>To become the first choice of stakeholders in diamond industry.</p>
        </div>
    </div>
</section>

<section id="hww" class="row contentRowPad">
    <div class="container-fluid">
        <h3>OUR <span class="bold">CORE VALUES</span></h3>
    </div>
    <div>
        <div class="col-sm-4">
            <h5><span>01.</span>ACCOUNTABILITY</h5>
        </div>
        <div class="col-sm-4">
            <h5><span>02.</span>INTEGRITY</h5>
        </div>
        <div class="col-sm-4">
            <h5><span>03.</span>LIFE LONG LEARNING</h5>
        </div>
    </div>
</section>

