
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}
<section id="breadcrumbRow" class="row">
    <h2>blog</h2>
    <div class="row pageTitle m0">
        <div class="container">
            <h4 class="fleft">blog</h4>
            <ul class="breadcrumb fright">
                <li><a href="/home">home</a></li>
                <li class="active">blog</li>
            </ul>
        </div>
    </div>
</section>
<section class="row contentRowPad">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="blog row m0">
                    <div class="row m0 titleRow">
                        <div class="fleft date">29<span>Dec</span></div>
                        <div class="fleft titlePart">
                            <a href="single-post.html">
                                <h4 class="blogTitle heading">The place where we are happy</h4>
                            </a>
                            <p class="m0">By <a href="#">Admin</a><span>|</span><a href="#">5 Comments</a></p>
                        </div>
                    </div>
                    <div class="row m0 featureImg">
                        <img src="~/images/blog/bloglist1.png" alt="">
                    </div>
                    <div class="row m0 excerpt">
                        Sunny Days sweepin' the clouds away. On my way to where the air is sweet. Can you tell me how to get how to get to Sesame Street. And when the odds are against him and their dangers work to do. You bet your life Speed Racer he will see it through. Till the one day when the lady met this fellow.
                    </div>
                </div>
                <!--Blog Row End-->
                <div class="blog row m0">
                    <div class="row m0 titleRow">
                        <div class="fleft date">29<span>Dec</span></div>
                        <div class="fleft titlePart">
                            <a href="single-post.html">
                                <h4 class="blogTitle heading">New products of the week standard post</h4>
                            </a>
                            <p class="m0">By <a href="#">Admin</a><span>|</span><a href="#">5 Comments</a></p>
                        </div>
                    </div>
                    <div class="row m0 featureImg">
                        <img src="~/images/blog/bloglist2.png" alt="">
                    </div>
                    <div class="row m0 excerpt">
                        It's time to light the lights. It's time to meet the Muppets on the Muppet Show tonight. Knight Rider: A shadowy flight into the dangerous world of a man  It's time to light the lights. It's time to meet the Muppets on the Muppet Show tonight. Knight Rider: A shadowy flight into the dangerous world of a man
                    </div>
                </div>
                <!--Blog Row End-->
                <div class="blog row m0">
                    <div class="row m0 titleRow">
                        <div class="fleft date">30<span>Dec</span></div>
                        <div class="fleft titlePart">
                            <a href="single-post.html">
                                <h4 class="blogTitle heading">people know the beauty of nature</h4>
                            </a>
                            <p class="m0">By <a href="#">Admin</a><span>|</span><a href="#">5 Comments</a></p>
                        </div>
                    </div>
                    <div class="row m0 featureImg">
                        <img src="~/images/blog/bloglist3.png" alt="">
                    </div>
                    <div class="row m0 excerpt">
                        I never thought I could feel so free! The movie star the professor and Mary Ann here on Gilligans Isle. Michael Knight a young loner on a crusade to champion never thought I could feel so free! The movie star the professor and Mary Ann here on Gilligans Isle. Michael Knight a young loner on a crusade to champion.
                    </div>
                </div>
                <!--Blog Row End-->
                <div class="blog row m0">
                    <div class="row m0 titleRow">
                        <div class="fleft date">30<span>Dec</span></div>
                        <div class="fleft titlePart">
                            <a href="single-post.html">
                                <h4 class="blogTitle heading">i can enjoy the mega beats of city street</h4>
                            </a>
                            <p class="m0">By <a href="#">Admin</a><span>|</span><a href="#">5 Comments</a></p>
                        </div>
                    </div>
                    <div class="row m0 featureImg">
                        <img src="~/images/blog/bloglist4.png" alt="">
                    </div>
                    <div class="row m0 excerpt">
                        I never thought I could feel so free. It's time to put on makeup. It's time to dress up right. It's time to raise the curtain on the Muppet Show tonight. I never thought I could feel so free. It's time to put on makeup. It's time to dress up right. It's time to raise the curtain on the Muppet Show tonight.
                    </div>
                </div>
                <!--Blog Row End-->
                <div class="blog row m0">
                    <div class="row m0 titleRow">
                        <div class="fleft date">31<span>Dec</span></div>
                        <div class="fleft titlePart">
                            <a href="single-post.html">
                                <h4 class="blogTitle heading">make the adventure tour with friends</h4>
                            </a>
                            <p class="m0">By <a href="#">Admin</a><span>|</span><a href="#">5 Comments</a></p>
                        </div>
                    </div>
                    <div class="row m0 featureImg">
                        <img src="~/images/blog/bloglist5.png" alt="">
                    </div>
                    <div class="row m0 excerpt">
                        Today still wanted by the government they survive as soldiers of fortune. A man is born he's a man of means. Then along come two they got nothin' but their jeans. Today still wanted by the government they survive as soldiers of fortune. A man is born he's a man of means. Then along come two they got nothin' but their jeans.
                    </div>
                </div>
                <!--Blog Row End-->
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="row m0 sidebar">
                    <form action="#" class="searchForm row m0">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search">
                            <span class="input-group-addon p0">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!--Shortcode Element-->
                    <div class="row m0 categories">
                        <h4 class="heading">categories</h4>
                        <ul class="list-unstyled">
                            <li>Architecture</li>
                            <li>Beauty</li>
                            <li>Cars</li>
                            <li>Entertainment</li>
                            <li>People</li>
                            <li>Templates</li>
                            <li>Tour</li>
                        </ul>
                    </div>
                    <!--Shortcode Element-->
                    <div class="row m0 latestPosts">
                        <h4 class="heading">Latest post</h4>
                        <div class="media latestPost">
                            <div class="media-left">
                                <a href="#">
                                    <img src="~/images/blog/lt1.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="heading">you can contribute</h5>
                                <p>Dec 14, 2018</p>
                            </div>
                        </div>
                        <div class="media latestPost">
                            <div class="media-left">
                                <a href="#">
                                    <img src="~/images/blog/lt2.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="heading">best site for sofas</h5>
                                <p>Dec 14, 2018</p>
                            </div>
                        </div>
                        <div class="media latestPost">
                            <div class="media-left">
                                <a href="#">
                                    <img src="~/images/blog/lt3.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="heading">entertainment weeks</h5>
                                <p>Dec 14, 2018</p>
                            </div>
                        </div>
                        <div class="media latestPost">
                            <div class="media-left">
                                <a href="#">
                                    <img src="~/images/blog/lt4.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="heading">people you may know</h5>
                                <p>Dec 14, 2018</p>
                            </div>
                        </div>
                        <div class="media latestPost">
                            <div class="media-left">
                                <a href="#">
                                    <img src="~/images/blog/lt5.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="heading">manufacture tips -1</h5>
                                <p>Dec 14, 2018</p>
                            </div>
                        </div>
                    </div>
                    <!--Shortcode Element-->
                    <div class="row m0 tags">
                        <h4 class="heading">tags</h4>
                        <ul class="nav tagsNav">
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Beauty</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Games</a></li>
                            <li><a href="#">Images</a></li>
                            <li><a href="#">People</a></li>
                            <li><a href="#">Travelling</a></li>
                        </ul>
                    </div>
                    <!--Shortcode Element-->
                    <div class="row m0 flickrPhoto">
                        <h4 class="heading">flickr photostream</h4>
                        <ul class="list-inline">
                            <li><a href="#"><img src="~/images/flickr/1.png" alt=""></a></li>
                            <li><a href="#"><img src="~/images/flickr/2.png" alt=""></a></li>
                            <li><a href="#"><img src="~/images/flickr/3.png" alt=""></a></li>
                            <li><a href="#"><img src="~/images/flickr/4.png" alt=""></a></li>
                            <li><a href="#"><img src="~/images/flickr/5.png" alt=""></a></li>
                            <li><a href="#"><img src="~/images/flickr/6.png" alt=""></a></li>
                        </ul>
                    </div>
                    <!--Shortcode Element-->
                </div>
            </div>
        </div>
    </div>
</section>