
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<style>
    h2, h4 {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <div style="float:left">
            <h2>Welcome My World.</h2>
        </div>


        <div class="card" style="width:150px; float:right">
                <img class="card-img-top" src="/UploadImage/DSC_8620.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Shubham Patel</h4>
                </div>
            </div>
    </div>
</div>

