
@{
    ViewBag.Title = "Sparkle Diamond";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}
@Html.Partial("_ThemeSlider")
<!--Slider-->
<section id="ring_sec" class="ring_sec">
    <div id="trigger" class="container ">
        <div class="row">
            <div class="col-md-6  diamond_j_cont">
                <div class="diamond_j">
                </div>
                <div class="diamond_b">
                    <img alt="" class="img-responsive" src="/ThemeContent/images/ring.png">
                </div>
            </div>
            <div class="col-md-6  ring_cont">
                <h2>About Sparkle Diamond</h2>
                <p>The Sparkl Diamond had only one mission, to provide the best diamonds, their desire still the same, and so are their diamonds which still sparkle, A sign of trust which Is as strong as a diamond itself.</p>
                <p>
                    To unlock the potential of our diamantaireing skills with sustainable leadership in quality, innovation and technology.
                </p>
                <a class="com_btn" href="/home/aboutus">Load More</a>
            </div>
        </div>
    </div>
</section>

<section id="shopRings">
    <div class="sectionTitle">
        <h3>New Stones</h3>
        <h5>know more about our latest collection</h5>
    </div>
    <div class="d-carousel-cener owl-carousel">
        <div class="dc-inner">
            <img src="/ThemeContent/images/carousel/1.png" alt="ring" />
            <div class="dc-containt">
                <h2>Cushion</h2>
                <p>Bar Set Anniversary Ring</p>
            </div>
        </div>
        <div class="dc-inner">
            <img src="/ThemeContent/images/carousel/2.png" alt="ring" />
            <div class="dc-containt">
                <h2>Round</h2>
                <p>Bar Set Anniversary Ring</p>
            </div>
        </div>
        <div class="dc-inner">
            <img src="~/ThemeContent/images/carousel/3.png" alt="ring" />
            <div class="dc-containt">
                <h2>Pear</h2>
                <p>Bar Set Anniversary Ring</p>
            </div>
        </div>
        <div class="dc-inner">
            <img src="/ThemeContent/images/carousel/4.png" alt="ring" />
            <div class="dc-containt">
                <h2>Radiant</h2>
                <p>Bar Set Anniversary Ring</p>
            </div>
        </div>
        <div class="dc-inner">
            <img src="/ThemeContent/images/carousel/5.png" alt="ring" />
            <div class="dc-containt">
                <h2>Ovel</h2>
                <p>Bar Set Anniversary Ring</p>
            </div>
        </div>
    </div>
</section>

<section id="shopFeatures_new">
    <div class=" shopFeatures_new container">
        <ul>
            <li class="sf_first">
                <img alt="" class="img-responsive" src="/ThemeContent/images/feature/1.jpg" />
                <div class="sf_box">
                    <div class="sf_box_inner">
                        <h2>free shipping</h2>
                        <h3>on orders over $299</h3>
                        <p>This offer is valid on all our store items</p>
                    </div>
                </div>
            </li>
            <li>
                <img alt="" class="img-responsive" src="/ThemeContent/images/feature/2.jpg" />
                <div class="sf_box">
                    <div class="sf_box_inner">
                        <h3>shop & save</h3>
                        <p>On all our store items</p>
                    </div>
                </div>
            </li>
            <li>
                <img alt="" class="img-responsive" src="~/ThemeContent/images/feature/3.jpg" />
                <div class="sf_box">
                    <div class="sf_box_inner">
                        <h3>Product catalog</h3>
                    </div>
                </div>
            </li>
            <li>
                <img alt="" class="img-responsive" src="~/ThemeContent/images/feature/4.jpg" />
                <div class="sf_box">
                    <div class="sf_box_inner">
                        <h3>product list</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


