
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}
<section id="breadcrumbRow" class="row">
    <h2>Inventory</h2>
</section>
<section id="featureProducts" class="row contentRowPad">
    <div class="container">
        <div class="row sectionTitle">
            <h3>featured products</h3>
            <h5>know more about our latest collection</h5>
        </div>
        <div class="row">
            <div class="col-sm-3 product">
                <div class="productInner row m0">
                    <div class="row m0 imgHov">
                        <img src="/ThemeContent/images/product/1.png" alt="">
                        <div class="row m0 hovArea">
                            <div class="row m0 icons">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-shopping-cart-alt"></i></a></li>
                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                </ul>
                            </div>
                            <div class="row m0 proType"><a href="#">Baccarat</a></div>
                            <div class="row m0 proRating">
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                            </div>
                            <div class="row m0 proPrice"><i class="fas fa-usd"></i>125.00</div>
                        </div>
                    </div>
                    <div class="row m0 proName"><a href="single-product.html">Curabitur cursus dignis</a></div>
                    <div class="row m0 proBuyBtn">
                        <button class="addToCart btn">add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 product">
                <div class="productInner row m0">
                    <div class="row m0 imgHov">
                        <img src="/ThemeContent/images/product/2.png" alt="">
                        <div class="row m0 hovArea">
                            <div class="row m0 icons">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-shopping-cart-alt"></i></a></li>
                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                </ul>
                            </div>
                            <div class="row m0 proType"><a href="#">Baccarat</a></div>
                            <div class="row m0 proRating">
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                            </div>
                            <div class="row m0 proPrice"><i class="fas fa-usd"></i>125.00</div>
                        </div>
                    </div>
                    <div class="row m0 proName"><a href="single-product.html">Donec aliquam</a></div>
                    <div class="row m0 proBuyBtn">
                        <a class="addToCart btn" href="#">add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 product">
                <div class="productInner row m0">
                    <div class="row m0 imgHov">
                        <img src="/ThemeContent/images/product/3.png" alt="">
                        <div class="row m0 hovArea">
                            <div class="row m0 icons">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-shopping-cart-alt"></i></a></li>
                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                </ul>
                            </div>
                            <div class="row m0 proType"><a href="#">Baccarat</a></div>
                            <div class="row m0 proRating">
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                            </div>
                            <div class="row m0 proPrice"><i class="fas fa-usd"></i>125.00</div>
                        </div>
                    </div>
                    <div class="row m0 proName"><a href="single-product.html">Gravida est</a></div>
                    <div class="row m0 proBuyBtn">
                        <button class="addToCart btn">add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 product">
                <div class="productInner row m0">
                    <div class="row m0 imgHov">
                        <img src="/ThemeContent/images/product/4.png" alt="">
                        <div class="row m0 hovArea">
                            <div class="row m0 icons">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-shopping-cart-alt"></i></a></li>
                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                </ul>
                            </div>
                            <div class="row m0 proType"><a href="#">Baccarat</a></div>
                            <div class="row m0 proRating">
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                                <i class="fas fa-star-o"></i>
                            </div>
                            <div class="row m0 proPrice"><i class="fas fa-usd"></i>125.00</div>
                        </div>
                    </div>
                    <div class="row m0 proName"><a href="single-product.html">Maximus quam posuere</a></div>
                    <div class="row m0 proBuyBtn">
                        <button class="addToCart btn">add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

