USE [DiamondWebInventory]
GO
/****** Object:  Table [dbo].[GRADDET]    Script Date: 24-Jun-20 03:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRADDET](
	[COMPCD] [numeric](5, 0) NULL,
	[STONEID] [varchar](30) NULL,
	[SHAPE] [varchar](20) NULL,
	[CTS] [decimal](10, 2) NULL,
	[COLOR] [varchar](10) NULL,
	[CLARITY] [varchar](10) NULL,
	[CUT] [varchar](20) NULL,
	[POLISH] [varchar](20) NULL,
	[SYM] [varchar](20) NULL,
	[FLOURENCE] [varchar](20) NULL,
	[FL_COLOR] [varchar](20) NULL,
	[INCLUSION] [varchar](20) NULL,
	[HA] [varchar](100) NULL,
	[LUSTER] [varchar](20) NULL,
	[GIRDLE] [varchar](20) NULL,
	[GIRDLE_CONDITION] [varchar](20) NULL,
	[CULET] [varchar](20) NULL,
	[MILKY] [varchar](20) NULL,
	[SHADE] [varchar](20) NULL,
	[NATTS] [varchar](20) NULL,
	[NATURAL] [varchar](20) NULL,
	[DEPTH] [numeric](5, 2) NULL,
	[DIATABLE] [numeric](5, 2) NULL,
	[LENGTH] [numeric](5, 2) NULL,
	[WIDTH] [numeric](5, 2) NULL,
	[PAVILION] [numeric](5, 2) NULL,
	[CROWN] [numeric](5, 2) NULL,
	[PAVANGLE] [numeric](5, 2) NULL,
	[CROWNANGLE] [numeric](5, 2) NULL,
	[HEIGHT] [numeric](5, 2) NULL,
	[PAVHEIGHT] [numeric](5, 2) NULL,
	[CROWNHEIGHT] [numeric](5, 2) NULL,
	[MEASUREMENT] [varchar](30) NULL,
	[RATIO] [numeric](5, 2) NULL,
	[PAIR] [varchar](10) NULL,
	[STAR_LENGTH] [numeric](10, 2) NULL,
	[LOWER_HALF] [numeric](10, 2) NULL,
	[KEY_TO_SYMBOL] [varchar](300) NULL,
	[REPORT_COMMENT] [varchar](300) NULL,
	[CERTIFICATE] [varchar](20) NULL,
	[CERTNO] [varchar](20) NULL,
	[RAPARATE] [numeric](10, 2) NULL,
	[RAPAAMT] [numeric](14, 2) NULL,
	[CURDATE] [datetime] NULL,
	[LOCATION] [varchar](20) NULL,
	[LEGEND1] [varchar](20) NULL,
	[LEGEND2] [varchar](20) NULL,
	[LEGEND3] [varchar](20) NULL,
	[ASKRATE_FC] [numeric](15, 2) NULL,
	[ASKDISC_FC] [numeric](15, 2) NULL,
	[ASKAMT_FC] [numeric](15, 2) NULL,
	[COSTRATE_FC] [numeric](15, 2) NULL,
	[COSTDISC_FC] [numeric](15, 2) NULL,
	[COSTAMT_FC] [numeric](15, 2) NULL,
	[WEB_CLIENTID] [numeric](10, 0) NULL,
	[wl_rej_status] [varchar](50) NULL,
	[GIRDLEPER] [varchar](20) NULL,
	[DIA] [numeric](5, 2) NULL,
	[COLORDESC] [varchar](100) NULL,
	[BARCODE] [varchar](30) NULL,
	[INSCRIPTION] [varchar](20) NULL,
	[NEW_CERT] [varchar](2) NULL,
	[MEMBER_COMMENT] [varchar](300) NULL,
	[UPLOADCLIENTID] [int] NULL,
	[REPORT_DATE] [datetime] NULL,
	[NEW_ARRI_DATE] [datetime] NULL,
	[TINGE] [varchar](20) NULL,
	[EYE_CLN] [varchar](20) NULL,
	[TABLE_INCL] [varchar](30) NULL,
	[SIDE_INCL] [varchar](30) NULL,
	[TABLE_BLACK] [varchar](30) NULL,
	[SIDE_BLACK] [varchar](30) NULL,
	[TABLE_OPEN] [varchar](30) NULL,
	[SIDE_OPEN] [varchar](30) NULL,
	[PAV_OPEN] [varchar](30) NULL,
	[EXTRA_FACET] [varchar](30) NULL,
	[INTERNAL_COMMENT] [varchar](500) NULL,
	[POLISH_FEATURES] [varchar](500) NULL,
	[SYMMETRY_FEATURES] [varchar](500) NULL,
	[GRAINING] [varchar](20) NULL,
	[IMG_URL] [varchar](500) NULL,
	[RATEDISC] [varchar](20) NULL,
	[GRADE] [varchar](30) NULL,
	[CLIENT_LOCATION] [varchar](20) NULL,
	[ORIGIN] [varchar](20) NULL,
	[BGM] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GRADDET] ADD  DEFAULT ('N') FOR [wl_rej_status]
GO
