USE [DiamondWebInventory]
GO
/****** Object:  StoredProcedure [dbo].[SpShoppingCartCrud]    Script Date: 24-Jun-20 03:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- execute [SpShoppingCartCrud] '','PA226110',93,'B','I','B',''
/*DECLARE @RETURNVAL nvarchar(100);
EXEC [SpShoppingCartCrud] '','PA226',97,'I','I','B',@RETURNVAL output
PRINT @RETURNVAL;*/
-- execute [SpShoppingCartCrud] 0,'PA226015',97,'','','CART',''
-- =============================================
CREATE PROCEDURE [dbo].[SpShoppingCartCrud]
	@SC_Id int= '',
	@SC_stoneid varchar(50)= '',
	@SC_Clientcd int= '',
	@SC_Status varchar(50)= '',
	@SC_CUR_STATUS char(1)= '',
	@FLAG nvarchar(15) = '',
	@RETURNVAL nvarchar(10) OUTPUT
AS
BEGIN
	SET @SC_Id = (SELECT MAX(SC_Id)+1 FROM ShoppingCart);
	--SET @SC_Status = 'I'
	--SET @SC_CUR_STATUS = 'I'
	IF @FLAG='CART' --INSERT	
	BEGIN
		IF EXISTS (SELECT * FROM ShoppingCart WHERE SC_stoneid=@SC_stoneid AND SC_Status='I' And SC_Clientcd=@SC_Clientcd )	
		BEGIN
			SET @RETURNVAL='-1'--Exists 
			RETURN @RETURNVAL
			--PRINT @RETURNVAL
		END	
		ELSE
		BEGIN
			SET @SC_Status = 'I'
			SET @SC_CUR_STATUS = 'I'
			SET IDENTITY_INSERT ShoppingCart ON
			INSERT INTO ShoppingCart (SC_Id,SC_stoneid,SC_Clientcd,SC_Status,SC_CUR_STATUS,SC_SHAPE,SC_CTS,SC_COLOR,SC_CLARITY,SC_CUT,SC_POLISH,SC_SYM,SC_FLOURENCE,
					SC_FL_COLOR,SC_INCLUSION,SC_HA,SC_LUSTER,SC_GIRDLE,SC_GIRDLE_CONDITION,SC_CULET,SC_MILKY,SC_SHADE,SC_NATTS,SC_NATURAL,SC_DEPTH,SC_DIATABLE,
					SC_LENGTH,SC_WIDTH,SC_PAVILION,SC_CROWN,SC_PAVANGLE,SC_CROWNANGLE,SC_HEIGHT,SC_PAVHEIGHT,SC_CROWNHEIGHT,SC_MEASUREMENT,SC_RATIO,SC_PAIR,
					SC_STAR_LENGTH,SC_LOWER_HALF,SC_KEY_TO_SYMBOL,SC_REPORT_COMMENT,SC_CERTIFICATE,SC_CERTNO,SC_RAPARATE,SC_RAPAAMT,SC_CURDATE,SC_LOCATION,
					SC_LEGEND1,SC_LEGEND2,SC_LEGEND3,SC_ASKRATE_FC,SC_ASKDISC_FC,SC_ASKAMT_FC,SC_COSTRATE_FC,SC_COSTDISC_FC,SC_COSTAMT_FC,SC_GIRDLEPER,SC_DIA,
					SC_COLORDESC,SC_BARCODE,SC_INSCRIPTION,SC_NEW_CERT,SC_MEMBER_COMMENT,SC_UPLOADCLIENTID,SC_REPORT_DATE,SC_NEW_ARRI_DATE,SC_TINGE,SC_EYE_CLN,
					SC_TABLE_INCL,SC_SIDE_INCL,SC_TABLE_BLACK,SC_SIDE_BLACK,SC_TABLE_OPEN,SC_SIDE_OPEN,SC_PAV_OPEN,SC_EXTRA_FACET,SC_INTERNAL_COMMENT,SC_POLISH_FEATURES,
					SC_SYMMETRY_FEATURES,SC_GRAINING,SC_IMG_URL,SC_RATEDISC,SC_GRADE,SC_CLIENT_LOCATION,SC_ORIGIN)
			SELECT @SC_Id,@SC_stoneid,@SC_Clientcd,@SC_Status,@SC_CUR_STATUS,SHAPE, CTS, COLOR, CLARITY, CUT, POLISH, SYM, FLOURENCE, FL_COLOR, INCLUSION, HA, LUSTER, GIRDLE, GIRDLE_CONDITION,
					CULET,MILKY, SHADE, NATTS, NATURAL, DEPTH, DIATABLE, LENGTH, WIDTH, PAVILION, CROWN, PAVANGLE, CROWNANGLE, HEIGHT, PAVHEIGHT,CROWNHEIGHT, MEASUREMENT, RATIO,
					PAIR, STAR_LENGTH, LOWER_HALF, KEY_TO_SYMBOL, REPORT_COMMENT, CERTIFICATE, CERTNO, RAPARATE,RAPAAMT, CURDATE, LOCATION, LEGEND1, LEGEND2, LEGEND3, ASKRATE_FC,
					ASKDISC_FC, ASKAMT_FC, COSTRATE_FC, COSTDISC_FC, COSTAMT_FC,GIRDLEPER, DIA, COLORDESC, BARCODE, INSCRIPTION, NEW_CERT, MEMBER_COMMENT, UPLOADCLIENTID,
					REPORT_DATE, NEW_ARRI_DATE, TINGE,EYE_CLN, TABLE_INCL, SIDE_INCL, TABLE_BLACK, SIDE_BLACK, TABLE_OPEN, SIDE_OPEN, PAV_OPEN, EXTRA_FACET,
                    INTERNAL_COMMENT, POLISH_FEATURES, SYMMETRY_FEATURES, GRAINING, IMG_URL, RATEDISC, GRADE, CLIENT_LOCATION, ORIGIN
			FROM GRADDET
			WHERE STONEID=@SC_stoneid
			SET @RETURNVAL='1'--'CART'
			RETURN @RETURNVAL
			SET IDENTITY_INSERT ShoppingCart OFF
		END	
	END	
	ELSE IF @FLAG='BUY'
	BEGIN
	IF EXISTS (SELECT * FROM ShoppingCart WHERE SC_stoneid=@SC_stoneid AND SC_Status='B')	
		BEGIN
			SET @RETURNVAL='0'--Out Of Stock  
			RETURN @RETURNVAL
			PRINT @RETURNVAL
		END	
		ELSE
		BEGIN
			SET @SC_Status = 'B'
			SET @SC_CUR_STATUS = 'I'
			SET IDENTITY_INSERT ShoppingCart ON
			INSERT INTO ShoppingCart (SC_Id,SC_stoneid,SC_Clientcd,SC_Status,SC_CUR_STATUS,SC_SHAPE,SC_CTS,SC_COLOR,SC_CLARITY,SC_CUT,SC_POLISH,SC_SYM,SC_FLOURENCE,
					SC_FL_COLOR,SC_INCLUSION,SC_HA,SC_LUSTER,SC_GIRDLE,SC_GIRDLE_CONDITION,SC_CULET,SC_MILKY,SC_SHADE,SC_NATTS,SC_NATURAL,SC_DEPTH,SC_DIATABLE,
					SC_LENGTH,SC_WIDTH,SC_PAVILION,SC_CROWN,SC_PAVANGLE,SC_CROWNANGLE,SC_HEIGHT,SC_PAVHEIGHT,SC_CROWNHEIGHT,SC_MEASUREMENT,SC_RATIO,SC_PAIR,
					SC_STAR_LENGTH,SC_LOWER_HALF,SC_KEY_TO_SYMBOL,SC_REPORT_COMMENT,SC_CERTIFICATE,SC_CERTNO,SC_RAPARATE,SC_RAPAAMT,SC_CURDATE,SC_LOCATION,
					SC_LEGEND1,SC_LEGEND2,SC_LEGEND3,SC_ASKRATE_FC,SC_ASKDISC_FC,SC_ASKAMT_FC,SC_COSTRATE_FC,SC_COSTDISC_FC,SC_COSTAMT_FC,SC_GIRDLEPER,SC_DIA,
					SC_COLORDESC,SC_BARCODE,SC_INSCRIPTION,SC_NEW_CERT,SC_MEMBER_COMMENT,SC_UPLOADCLIENTID,SC_REPORT_DATE,SC_NEW_ARRI_DATE,SC_TINGE,SC_EYE_CLN,
					SC_TABLE_INCL,SC_SIDE_INCL,SC_TABLE_BLACK,SC_SIDE_BLACK,SC_TABLE_OPEN,SC_SIDE_OPEN,SC_PAV_OPEN,SC_EXTRA_FACET,SC_INTERNAL_COMMENT,SC_POLISH_FEATURES,
					SC_SYMMETRY_FEATURES,SC_GRAINING,SC_IMG_URL,SC_RATEDISC,SC_GRADE,SC_CLIENT_LOCATION,SC_ORIGIN)
			SELECT @SC_Id,@SC_stoneid,@SC_Clientcd,@SC_Status,@SC_CUR_STATUS,SHAPE, CTS, COLOR, CLARITY, CUT, POLISH, SYM, FLOURENCE, FL_COLOR, INCLUSION, HA, LUSTER, GIRDLE, GIRDLE_CONDITION,
					CULET,MILKY, SHADE, NATTS, NATURAL, DEPTH, DIATABLE, LENGTH, WIDTH, PAVILION, CROWN, PAVANGLE, CROWNANGLE, HEIGHT, PAVHEIGHT,CROWNHEIGHT, MEASUREMENT, RATIO,
					PAIR, STAR_LENGTH, LOWER_HALF, KEY_TO_SYMBOL, REPORT_COMMENT, CERTIFICATE, CERTNO, RAPARATE,RAPAAMT, CURDATE, LOCATION, LEGEND1, LEGEND2, LEGEND3, ASKRATE_FC,
					ASKDISC_FC, ASKAMT_FC, COSTRATE_FC, COSTDISC_FC, COSTAMT_FC,GIRDLEPER, DIA, COLORDESC, BARCODE, INSCRIPTION, NEW_CERT, MEMBER_COMMENT, UPLOADCLIENTID,
					REPORT_DATE, NEW_ARRI_DATE, TINGE,EYE_CLN, TABLE_INCL, SIDE_INCL, TABLE_BLACK, SIDE_BLACK, TABLE_OPEN, SIDE_OPEN, PAV_OPEN, EXTRA_FACET,
                    INTERNAL_COMMENT, POLISH_FEATURES, SYMMETRY_FEATURES, GRAINING, IMG_URL, RATEDISC, GRADE, CLIENT_LOCATION, ORIGIN
			FROM GRADDET
			WHERE STONEID=@SC_stoneid
			SET @RETURNVAL='2'--'Buy'
			RETURN @RETURNVAL
			SET IDENTITY_INSERT ShoppingCart OFF
		END
	END	
	ELSE IF @FLAG='B'
	BEGIN 
		IF EXISTS (SELECT * FROM ShoppingCart WHERE SC_stoneid=@SC_stoneid AND SC_Status='B')	
		BEGIN
			SET @RETURNVAL='0'--Exists 
			RETURN @RETURNVAL
			PRINT @RETURNVAL
		END	
		ELSE
		BEGIN
			UPDATE ShoppingCart SET SC_Status='B' WHERE SC_stoneid=@SC_stoneid AND SC_CUR_STATUS='I' AND SC_Clientcd=@SC_Clientcd
			SET @RETURNVAL='2'--'BUY'
			RETURN @RETURNVAL
			PRINT @RETURNVAL
		END
	END	
	ELSE IF @FLAG='CARTDELETE'
	BEGIN 
		UPDATE ShoppingCart SET SC_CUR_STATUS='O' WHERE SC_stoneid=@SC_stoneid AND SC_Status='I' AND SC_Clientcd=@SC_Clientcd
		SET @RETURNVAL='3'
		RETURN @RETURNVAL
	END	
	ELSE IF @FLAG='BUYDELETE'
	BEGIN 
		UPDATE ShoppingCart SET SC_CUR_STATUS='O' WHERE SC_stoneid=@SC_stoneid AND SC_Status='B' AND SC_Clientcd=@SC_Clientcd
		SET @RETURNVAL='4'
		RETURN @RETURNVAL
	END	
END

GO
