USE [DiamondWebInventory]
GO
/****** Object:  Table [dbo].[Clientmaster]    Script Date: 24-Jun-20 03:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientmaster](
	[ClientCd] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Title] [varchar](5) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Birthdate] [datetime] NULL,
	[CompanyNm] [varchar](250) NULL,
	[Designation] [varchar](100) NULL,
	[Terms] [varchar](50) NULL,
	[CreditDays] [numeric](5, 0) NULL,
	[Commission] [numeric](5, 2) NULL,
	[Brokerage] [numeric](5, 2) NULL,
	[PriceDiscount] [numeric](5, 2) NULL,
	[Discount] [numeric](5, 2) NULL,
	[PriceFormat] [char](10) NULL,
	[TaxDetails] [varchar](250) NULL,
	[ReferenceFrom] [varchar](150) NULL,
	[ReferenceThrough] [varchar](150) NULL,
	[Address] [varchar](250) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zipcode] [varchar](10) NULL,
	[Countrycd] [varchar](20) NULL,
	[Phone_Countrycd] [varchar](10) NULL,
	[Phone_STDcd] [varchar](10) NULL,
	[Phone_No] [varchar](20) NULL,
	[Phone_Countrycd2] [varchar](10) NULL,
	[Phone_STDCd2] [varchar](10) NULL,
	[Phone_No2] [varchar](20) NULL,
	[Fax_Countrycd] [varchar](10) NULL,
	[Fax_STDCd] [varchar](10) NULL,
	[Fax_No] [varchar](20) NULL,
	[Mobile_CountryCd] [varchar](10) NULL,
	[Mobile_No] [varchar](15) NULL,
	[EmailID1] [varchar](75) NULL,
	[EmailID2] [varchar](75) NULL,
	[EmailID3] [varchar](75) NULL,
	[All_Emailid] [varchar](300) NULL,
	[Website] [varchar](100) NULL,
	[BussinessType] [varchar](150) NULL,
	[InsertedDate] [datetime] NULL,
	[CreatedBy] [numeric](10, 0) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [numeric](10, 0) NULL,
	[ApproveStatus] [varchar](1) NULL,
	[ApproveStatusOn] [datetime] NULL,
	[ApproveStatusBy] [numeric](10, 0) NULL,
	[StatusUpdatedOn] [datetime] NULL,
	[StatusUpdatedBy] [numeric](10, 0) NULL,
	[Status] [varchar](10) NULL,
	[WholeStockAccess] [varchar](1) NULL,
	[BankDetails] [varchar](4000) NULL,
	[RoutingDetails] [varchar](4000) NULL,
	[Handle_Location] [int] NULL,
	[Smid] [int] NULL,
	[EmailStatus] [varchar](10) NULL,
	[LastLoginDate] [datetime] NULL,
	[SkypeId] [varchar](100) NULL,
	[QQId] [varchar](100) NULL,
	[EmailSubscr] [char](1) NULL,
	[EmailSubscrDate] [datetime] NULL,
	[UTypeID] [int] NULL,
	[UserRights] [varchar](1) NULL,
	[UploadInventory] [varchar](1) NULL,
	[Show_HoldedStock] [char](1) NULL,
	[LoginMailAlertOn] [date] NULL,
	[Show_CertImage] [char](1) NULL,
	[App_Id] [varchar](50) NULL,
	[App_Pwd] [varchar](50) NULL,
	[WeChatId] [nvarchar](200) NULL,
	[Client_Grade] [int] NULL,
	[WatchList_Priority] [int] NULL,
	[ShipmentType] [varchar](30) NULL,
	[SecurityPin] [varchar](4) NULL,
	[Online_ClientCd] [numeric](10, 0) NULL,
	[Online_SellerCd] [numeric](10, 0) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_CM_CLIENTCD] PRIMARY KEY CLUSTERED 
(
	[ClientCd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clientmaster] ON 

SET IDENTITY_INSERT [dbo].[Clientmaster] OFF
ALTER TABLE [dbo].[Clientmaster] ADD  CONSTRAINT [DF_Clientmaster_InsertedDate]  DEFAULT (getdate()) FOR [InsertedDate]
GO
ALTER TABLE [dbo].[Clientmaster] ADD  DEFAULT ((0)) FOR [UTypeID]
GO
ALTER TABLE [dbo].[Clientmaster] ADD  CONSTRAINT [DF_Clientmaster_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clientmaster] ADD  CONSTRAINT [DF_Clientmaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
