USE [DiamondWebInventory]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 24-Jun-20 03:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[SC_Id] [int] IDENTITY(1,1) NOT NULL,
	[SC_stoneid] [varchar](50) NULL,
	[SC_Clientcd] [int] NULL,
	[SC_Status] [varchar](50) NULL,
	[SC_Date] [datetime] NULL,
	[SC_MemoDate] [datetime] NULL,
	[SC_delete_date] [datetime] NULL,
	[sc_offerrate] [numeric](15, 2) NULL,
	[sc_offerdisc] [numeric](5, 2) NULL,
	[sc_rej_status] [varchar](50) NULL,
	[SC_PROCESSEES] [varchar](20) NULL,
	[SC_CUR_STATUS] [char](1) NULL,
	[isMailed] [varchar](1) NULL,
	[sc_mail_date] [datetime] NULL,
	[orderno] [numeric](10, 0) NULL,
	[SC_SHAPE] [varchar](20) NULL,
	[SC_CTS] [decimal](10, 2) NULL,
	[SC_COLOR] [varchar](10) NULL,
	[SC_CLARITY] [varchar](10) NULL,
	[SC_CUT] [varchar](20) NULL,
	[SC_POLISH] [varchar](20) NULL,
	[SC_SYM] [varchar](20) NULL,
	[SC_FLOURENCE] [varchar](20) NULL,
	[SC_FL_COLOR] [varchar](20) NULL,
	[SC_INCLUSION] [varchar](20) NULL,
	[SC_HA] [varchar](100) NULL,
	[SC_LUSTER] [varchar](20) NULL,
	[SC_GIRDLE] [varchar](20) NULL,
	[SC_GIRDLE_CONDITION] [varchar](20) NULL,
	[SC_CULET] [varchar](20) NULL,
	[SC_MILKY] [varchar](20) NULL,
	[SC_SHADE] [varchar](20) NULL,
	[SC_NATTS] [varchar](20) NULL,
	[SC_NATURAL] [varchar](20) NULL,
	[SC_DEPTH] [numeric](5, 2) NULL,
	[SC_DIATABLE] [numeric](5, 2) NULL,
	[SC_LENGTH] [numeric](5, 2) NULL,
	[SC_WIDTH] [numeric](5, 2) NULL,
	[SC_PAVILION] [numeric](5, 2) NULL,
	[SC_CROWN] [numeric](5, 2) NULL,
	[SC_PAVANGLE] [numeric](5, 2) NULL,
	[SC_CROWNANGLE] [numeric](5, 2) NULL,
	[SC_HEIGHT] [numeric](5, 2) NULL,
	[SC_PAVHEIGHT] [numeric](5, 2) NULL,
	[SC_CROWNHEIGHT] [numeric](5, 2) NULL,
	[SC_MEASUREMENT] [varchar](30) NULL,
	[SC_RATIO] [numeric](5, 2) NULL,
	[SC_PAIR] [varchar](10) NULL,
	[SC_STAR_LENGTH] [numeric](10, 2) NULL,
	[SC_LOWER_HALF] [numeric](10, 2) NULL,
	[SC_KEY_TO_SYMBOL] [varchar](300) NULL,
	[SC_REPORT_COMMENT] [varchar](300) NULL,
	[SC_CERTIFICATE] [varchar](20) NULL,
	[SC_CERTNO] [varchar](20) NULL,
	[SC_RAPARATE] [numeric](10, 2) NULL,
	[SC_RAPAAMT] [numeric](14, 2) NULL,
	[SC_CURDATE] [datetime] NULL,
	[SC_LOCATION] [varchar](20) NULL,
	[SC_LEGEND1] [varchar](20) NULL,
	[SC_LEGEND2] [varchar](20) NULL,
	[SC_LEGEND3] [varchar](20) NULL,
	[SC_ASKRATE_FC] [numeric](15, 2) NULL,
	[SC_ASKDISC_FC] [numeric](15, 2) NULL,
	[SC_ASKAMT_FC] [numeric](15, 2) NULL,
	[SC_COSTRATE_FC] [numeric](15, 2) NULL,
	[SC_COSTDISC_FC] [numeric](15, 2) NULL,
	[SC_COSTAMT_FC] [numeric](15, 2) NULL,
	[SC_GIRDLEPER] [varchar](20) NULL,
	[SC_DIA] [numeric](5, 2) NULL,
	[SC_COLORDESC] [varchar](100) NULL,
	[SC_BARCODE] [varchar](30) NULL,
	[SC_INSCRIPTION] [varchar](20) NULL,
	[SC_NEW_CERT] [varchar](2) NULL,
	[SC_MEMBER_COMMENT] [varchar](300) NULL,
	[SC_UPLOADCLIENTID] [int] NULL,
	[SC_REPORT_DATE] [datetime] NULL,
	[SC_NEW_ARRI_DATE] [datetime] NULL,
	[SC_TINGE] [varchar](20) NULL,
	[SC_EYE_CLN] [varchar](20) NULL,
	[SC_TABLE_INCL] [varchar](30) NULL,
	[SC_SIDE_INCL] [varchar](30) NULL,
	[SC_TABLE_BLACK] [varchar](30) NULL,
	[SC_SIDE_BLACK] [varchar](30) NULL,
	[SC_TABLE_OPEN] [varchar](30) NULL,
	[SC_SIDE_OPEN] [varchar](30) NULL,
	[SC_PAV_OPEN] [varchar](30) NULL,
	[SC_EXTRA_FACET] [varchar](30) NULL,
	[SC_INTERNAL_COMMENT] [varchar](500) NULL,
	[SC_POLISH_FEATURES] [varchar](500) NULL,
	[SC_SYMMETRY_FEATURES] [varchar](500) NULL,
	[SC_GRAINING] [varchar](20) NULL,
	[SC_IMG_URL] [varchar](500) NULL,
	[SC_RATEDISC] [varchar](20) NULL,
	[SC_GRADE] [varchar](30) NULL,
	[SC_CLIENT_LOCATION] [varchar](20) NULL,
	[SC_ORIGIN] [varchar](20) NULL,
	[BUY_REQID] [varchar](30) NULL,
	[ERP_PROFORMA_ID] [varchar](50) NULL,
	[ERP_INVOICE_ID] [varchar](50) NULL,
	[ERP_INVOICE_DATE] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingCart] ON 

SET IDENTITY_INSERT [dbo].[ShoppingCart] OFF
ALTER TABLE [dbo].[ShoppingCart] ADD  DEFAULT ('N') FOR [sc_rej_status]
GO
ALTER TABLE [dbo].[ShoppingCart] ADD  DEFAULT ('N') FOR [isMailed]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH NOCHECK ADD  CONSTRAINT [FK_SC_CLIENTCD] FOREIGN KEY([SC_Clientcd])
REFERENCES [dbo].[Clientmaster] ([ClientCd])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_SC_CLIENTCD]
GO
