USE [DiamondWebInventory]
GO
/****** Object:  Table [dbo].[Procmas]    Script Date: 24-Jun-20 03:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Procmas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Procgroup] [varchar](20) NULL,
	[Proccd] [numeric](10, 0) NULL,
	[Procnm] [varchar](100) NULL,
	[Shortnm] [varchar](100) NULL,
	[Ord] [numeric](10, 0) NULL,
	[Fancy_Color_Status] [varchar](1) NULL,
	[IsChangeable] [bit] NULL,
	[Fancy_Color] [nchar](10) NULL,
	[Fancy_Intensity] [nchar](10) NULL,
	[Fancy_Overtone] [nchar](10) NULL,
	[F_CTS] [nchar](10) NULL,
	[T_CTS] [nchar](10) NULL,
	[IsDeleted] [bit] NULL,
	[InsertedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Procmas1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Procmas] ON 

INSERT [dbo].[Procmas] ([Id], [Procgroup], [Proccd], [Procnm], [Shortnm], [Ord], [Fancy_Color_Status], [IsChangeable], [Fancy_Color], [Fancy_Intensity], [Fancy_Overtone], [F_CTS], [T_CTS], [IsDeleted], [InsertedDate], [UpdatedDate], [IsActive]) VALUES (4, N'SHAPE', CAST(0 AS Numeric(10, 0)), N'Round', N'', CAST(1 AS Numeric(10, 0)), N'', 1, N'          ', N'          ', N'          ', N'          ', N'          ', 0, NULL, NULL, 1)
INSERT [dbo].[Procmas] ([Id], [Procgroup], [Proccd], [Procnm], [Shortnm], [Ord], [Fancy_Color_Status], [IsChangeable], [Fancy_Color], [Fancy_Intensity], [Fancy_Overtone], [F_CTS], [T_CTS], [IsDeleted], [InsertedDate], [UpdatedDate], [IsActive]) VALUES (5, N'SHAPE', CAST(0 AS Numeric(10, 0)), N'Ovel', N'', CAST(1 AS Numeric(10, 0)), N'', 1, N'          ', N'          ', N'          ', N'          ', N'          ', 0, CAST(0x0000AB8200F9D361 AS DateTime), NULL, 1)
INSERT [dbo].[Procmas] ([Id], [Procgroup], [Proccd], [Procnm], [Shortnm], [Ord], [Fancy_Color_Status], [IsChangeable], [Fancy_Color], [Fancy_Intensity], [Fancy_Overtone], [F_CTS], [T_CTS], [IsDeleted], [InsertedDate], [UpdatedDate], [IsActive]) VALUES (6, N'SHAPE', CAST(0 AS Numeric(10, 0)), N'Princess', N'', CAST(1 AS Numeric(10, 0)), N'', 0, N'          ', N'          ', N'          ', N'          ', N'          ', 0, CAST(0x0000AB8200FBE95E AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Procmas] OFF
ALTER TABLE [dbo].[Procmas] ADD  CONSTRAINT [DF_Procmas1_IsChangeable]  DEFAULT ((1)) FOR [IsChangeable]
GO
ALTER TABLE [dbo].[Procmas] ADD  CONSTRAINT [DF_Procmas_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Procmas] ADD  CONSTRAINT [DF_Procmas_InsertedDate]  DEFAULT (getdate()) FOR [InsertedDate]
GO
ALTER TABLE [dbo].[Procmas] ADD  CONSTRAINT [DF_Procmas_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
