USE [DiamondWebInventory]
GO
/****** Object:  Table [dbo].[Temp]    Script Date: 24-Jun-20 03:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Temp](
	[COMPCD] [numeric](5, 0) NULL,
	[STONEID] [nvarchar](30) NULL,
	[SHAPE] [nvarchar](20) NULL,
	[CTS] [decimal](10, 2) NULL,
	[COLOR] [nvarchar](10) NULL,
	[CLARITY] [nvarchar](10) NULL,
	[CUT] [nvarchar](20) NULL,
	[POLISH] [nvarchar](20) NULL,
	[SYM] [nvarchar](20) NULL,
	[FLOURENCE] [nvarchar](20) NULL,
	[FL_COLOR] [nvarchar](20) NULL,
	[INCLUSION] [nvarchar](20) NULL,
	[HA] [nvarchar](100) NULL,
	[LUSTER] [nvarchar](20) NULL,
	[GIRDLE] [nvarchar](20) NULL,
	[GIRDLE_CONDITION] [nvarchar](20) NULL,
	[CULET] [nvarchar](20) NULL,
	[MILKY] [nvarchar](20) NULL,
	[SHADE] [nvarchar](20) NULL,
	[NATTS] [nvarchar](20) NULL,
	[NATURAL] [nvarchar](20) NULL,
	[DEPTH] [numeric](5, 2) NULL,
	[DIATABLE] [numeric](5, 2) NULL,
	[LENGTH] [numeric](5, 2) NULL,
	[WIDTH] [numeric](5, 2) NULL,
	[PAVILION] [numeric](5, 2) NULL,
	[CROWN] [numeric](5, 2) NULL,
	[PAVANGLE] [numeric](5, 2) NULL,
	[CROWNANGLE] [numeric](5, 2) NULL,
	[HEIGHT] [numeric](5, 2) NULL,
	[PAVHEIGHT] [numeric](5, 2) NULL,
	[CROWNHEIGHT] [numeric](5, 2) NULL,
	[MEASUREMENT] [nvarchar](30) NULL,
	[RATIO] [numeric](5, 2) NULL,
	[PAIR] [nvarchar](10) NULL,
	[STAR_LENGTH] [numeric](10, 2) NULL,
	[LOWER_HALF] [numeric](10, 2) NULL,
	[KEY_TO_SYMBOL] [nvarchar](300) NULL,
	[REPORT_COMMENT] [nvarchar](300) NULL,
	[CERTIFICATE] [nvarchar](20) NULL,
	[CERTNO] [nvarchar](20) NULL,
	[RAPARATE] [numeric](10, 2) NULL,
	[RAPAAMT] [numeric](14, 2) NULL,
	[CURDATE] [datetime] NULL,
	[LOCATION] [nvarchar](20) NULL,
	[LEGEND1] [nvarchar](20) NULL,
	[LEGEND2] [nvarchar](20) NULL,
	[LEGEND3] [nvarchar](20) NULL,
	[ASKRATE_FC] [numeric](15, 2) NULL,
	[ASKDISC_FC] [numeric](15, 2) NULL,
	[ASKAMT_FC] [numeric](15, 2) NULL,
	[COSTRATE_FC] [numeric](15, 2) NULL,
	[COSTDISC_FC] [numeric](15, 2) NULL,
	[COSTAMT_FC] [numeric](15, 2) NULL,
	[WEB_CLIENTID] [numeric](10, 0) NULL,
	[wl_rej_status] [nvarchar](50) NULL,
	[GIRDLEPER] [nvarchar](20) NULL,
	[DIA] [numeric](5, 2) NULL,
	[COLORDESC] [nvarchar](100) NULL,
	[BARCODE] [nvarchar](30) NULL,
	[INSCRIPTION] [nvarchar](20) NULL,
	[NEW_CERT] [nvarchar](2) NULL,
	[MEMBER_COMMENT] [nvarchar](300) NULL,
	[UPLOADCLIENTID] [int] NULL,
	[REPORT_DATE] [datetime] NULL,
	[NEW_ARRI_DATE] [datetime] NULL,
	[TINGE] [nvarchar](20) NULL,
	[EYE_CLN] [nvarchar](20) NULL,
	[TABLE_INCL] [nvarchar](30) NULL,
	[SIDE_INCL] [nvarchar](30) NULL,
	[TABLE_BLACK] [nvarchar](30) NULL,
	[SIDE_BLACK] [nvarchar](30) NULL,
	[TABLE_OPEN] [nvarchar](30) NULL,
	[SIDE_OPEN] [nvarchar](30) NULL,
	[PAV_OPEN] [nvarchar](30) NULL,
	[EXTRA_FACET] [nvarchar](30) NULL,
	[INTERNAL_COMMENT] [nvarchar](500) NULL,
	[POLISH_FEATURES] [nvarchar](500) NULL,
	[SYMMETRY_FEATURES] [nvarchar](500) NULL,
	[GRAINING] [nvarchar](20) NULL,
	[IMG_URL] [nvarchar](500) NULL,
	[RATEDISC] [nvarchar](20) NULL,
	[GRADE] [nvarchar](30) NULL,
	[CLIENT_LOCATION] [nvarchar](20) NULL,
	[ORIGIN] [nvarchar](20) NULL,
	[BGM] [char](1) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Temp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Temp] ON 

SET IDENTITY_INSERT [dbo].[Temp] OFF
ALTER TABLE [dbo].[Temp] ADD  DEFAULT ('N') FOR [wl_rej_status]
GO
